/* ---------------------------------------------------
                     COLOR GUIDE

GOLD: rgb(172, 140, 71)
WHITE: rgb(226, 226, 226)
GREY: rgb(128,128,128)
BLACK: rgb(15,15,15)
      rgba(15,15,15, 0.74)

----------------------------------------------------*/

/* ---------------------------------------------------
                      GLOBAL STYLES
----------------------------------------------------*/
body {
  font-size: 19px;
  font-family: "cronos-pro", calibri, candara, "segoe UI", Optima, Arial, sans-serif;
}

h1, h2, h3 {
  font-family: "double-pica-sc", Garamond, "Baskerville Old Face", "Times New Roman", serif;
}

h1 {
  font-size: 3.3684em;
  line-height: 1.2656em;
  margin-top: 0.4219em;
  margin-bottom: 0;
}

h2 {
  font-size: 1.5em;
  line-height: 1.2558em;
  margin: 0.4219em auto 0.4219em auto;
}

h3 {
  font-size: 1.5263em;
  font-weight: normal;
  line-height: 1.8621em;
  margin-top: 0.9310em;
  margin-bottom: 0;
}

p {
  font-size: 1em;
  line-height: 1.4211em;
  margin-top: 1.4211em;
  margin-bottom: 0;
}

img {
  width: 100%;
}

a:link {
  color: rgb(172,140,71);
}

  a:visited {
    color: rgb(100, 81, 41);
  }

  a:hover {
    color: rgb(224, 182, 90);
  }

  a:active {
    color: rgb(252, 217, 142);
  }

/* ---------------------------------------------------
                GLOBAL FOOTER STYLES
----------------------------------------------------*/

footer {
  padding: 10px 0;
}

  footer h4 {
    text-transform: uppercase;
  }

  footer p {
    margin: 0;
  }