/* ---------------------------------------------------
                     COLOR GUIDE

GOLD: rgb(172, 140, 71)
WHITE: rgb(226, 226, 226)
GREY: rgb(128,128,128)
BLACK: rgb(15,15,15)
      rgba(15,15,15, 0.74)

----------------------------------------------------*/

/* ---------------------------------------------------
                      GLOBAL STYLES
----------------------------------------------------*/
body {
  font-size: 19px;
  font-family: "cronos-pro", calibri, candara, "segoe UI", Optima, Arial, sans-serif;
  color: rgb(226,226,226);
  background: rgb(15,15,15);
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2% 6% 6% 6%;
}

@media screen and (min-width: 750px){
  body {
    font-size: 1.4em;
  }
} /* media query for 750px  */


.container {
  background: rgb(15,15,15); /* IE8 */
  background: rgba(15,15,15,0.74);
  padding: 30px;
}

h1, h2, h3 {
  font-family: "double-pica-sc", Garamond, "Baskerville Old Face", "Times New Roman", serif;
  font-weight: normal;
}

h1 {
  font-size: 3.3684em;
  line-height: 1.2656em;
  margin-top: 0.4219em;
  margin-bottom: 0;
  color: rgb(172, 140, 71);
}

h2 {
  font-size: 1.5em;
  line-height: 1.2558em;
  margin: 0.4219em auto 0.4219em auto;
}

h3 {
  font-size: 1.5263em;
  font-weight: normal;
  line-height: 1.8621em;
  margin-top: 0.9310em;
  margin-bottom: 0;
}

p {
  font-size: 1em;
  line-height: 1.4211em;
  margin-top: 1.4211em;
  margin-bottom: 0;
  font-weight: 100;
  max-width: 700px;
}

li {
  font-weight: 100;
}

img {
  width: 100%;
}

a:link {
  color: rgb(172,140,71);
}

  a:visited {
    color: rgb(100, 81, 41);
  }

  a:hover {
    color: rgb(224, 182, 90);
  }

  a:active {
    color: rgb(252, 217, 142);
  }

.button {
  background-color: rgb(172,140,71);
  border-radius: 8px;
  max-width: 250px;
}

  .button a {
    color: rgb(226, 226, 226);
    text-decoration: none;
    font-style: normal;
    text-transform: uppercase;
    text-align: center;
    display: block;
    padding: 10px 0;
  }

  .button a:hover {
    background-color: rgb(119, 97, 48);
    border-radius: 8px;
  }

.featured-info h3 {
  border-bottom: 1px solid rgb(128,128,128);
}

.featured-info p {
  font-style: italic;
}

.featured-info ul {
  list-style: none;
  padding-left: 0;
}

@media screen and (min-width: 1050px){
  .featured-info {
    float: left;
    width: 30%;
    margin-left: 3%;
  }
} /* media query for 1050px  */

.gallery {
  margin-top: 30px;
}

@media screen and (min-width: 600px) {
  
  .gallery {
    width: 446px;
    margin-left: auto;
    margin-right: auto;
  }
  
    .gallery img {
      max-width: 220px;
    }
  
  
} /* media query for 600px */

@media screen and (min-width: 1050px) {
  
  .gallery {
    width: 567px;
    margin-left: auto;
    margin-right: auto;
  }
  
    .gallery img {
      max-width: 280px;
    }
  
  
} /* media query for 600px */

@media screen and (min-width: 750px) {
  
  .landing {
    text-align: center;
  }
  
    .landing p {
      margin-left: auto;
      margin-right: auto;
    }

} /* media query for 750px  */


/* ---------------------------------------------------
                      LOGO STYLES
----------------------------------------------------*/
.logo {
  display: block;
  margin: 0 auto;
  width: 150px;
}

  .logo img {
    width: 150px;
  }

/* ---------------------------------------------------
                MAIN NAVIGATION STYLES
----------------------------------------------------*/

.main-navigation ul {
  padding-left: 0;
}

.main-navigation li {
  list-style: none;
  text-align: center;
  margin: 20px 0;
}

.main-navigation a {
  display: block;
  padding: 15px 10px;
  text-decoration: none;
  text-transform: uppercase;
  background: rgba(67,67,67,0.17);
  color: rgb(180,180,180);
}

  .main-navigation a:visited {
    color: rgb(106,106,106);
  }

  .main-navigation a:hover {
    color: rgb(255,255,255);
    transition: .5s color;
    background: rgba(62, 61, 61, 0.51);
  }

  .main-navigation a:active {
    color: rgb(172,140,71);
  }

@media screen and (min-width: 750px){
  
  .main-navigation {
    min-height: 100px;
    border-top: 1px solid rgb(36,36,36);
    border-bottom: 1px solid rgb(36,36,36);
  } /* media query for 750px  */
  
  .main-navigation ul {
    max-width: 950px;
    margin: 0 auto;
  }
  
    .main-navigation li {
      float: left;
      margin-left: 20px;
      width: 28%;
    }
  
    .main-navigation a {
      background: none;
    }
  
      .main-navigation a:hover {
        background: none;
      }
} /* media query for 750px  */

@media screen and (min-width: 880px){
  
  .main-navigation ul {
    position: relative;
    right: -30px ;
  }
  
}/* media query for 880px  */

/* ---------------------------------------------------
                   MENU PAGE STYLES
----------------------------------------------------*/
.menu-page .featured-info ul {
   font-style: italic;
}

.menu-page .featured-info {
  float: none;
  text-align: center;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}
/* ---------------------------------------------------
             LOCATION & HOURS PAGE STYLES
----------------------------------------------------*/

@media screen and (min-width: 1050px){
  
  .location-page .featured-info {
    float: none;
    width: 100%;
  }
  
  .location-page .landing {
    float: left;
    text-align: left;
    width: 56%;
  }
  
  .location-page .sidebar {
    float: right;
    width: 30%;
  }
  
  
  
}


/* ---------------------------------------------------
                GLOBAL FOOTER STYLES
----------------------------------------------------*/

footer {
  padding: 10px 0;
  clear: both;
}

  footer h4 {
    text-transform: uppercase;
  }

  footer p {
    margin: 0;
  }